;Created by TR4W v.4.143.1

[COMMANDS]
MY CALL=NY4I
MY FD CLASS=1D
MY SECTION=WCF
CATEGORY-ASSISTED=NON-ASSISTED
CATEGORY-BAND=ALL
CATEGORY-MODE=CW
CATEGORY-OPERATOR=SINGLE-OP
CATEGORY-POWER=HIGH
CATEGORY-TRANSMITTER=ONE
CONTEST=ARRL-FD